h1,h2,p,ul,figure,figcaption {
  text-align:center;
}

body{
  background-color: burlywood;
  color: black;
}
  
div{
  width: 50%;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}
