h1,h2,p {
  text-align: center;
}

.head {
  background-image: url(https://d2r55xnwy6nx47.cloudfront.net/uploads/2022/07/Quantum-Supremacy_2880x1620_Lede-scaled.jpg);
  padding: 500px;
  font-family: sans-serif;
}

.body {
  background-color: white;
}
  

